/.rpt2_cache
/dist
/dist-module
/coverage
/node_modules
/src/geometry/*.js
/src/__tests__/customFileParserTest/customFileParserTest.js
/src/constants.js
/src/customParser.js
/.DS_Store
/.vscode
/target
/pkg
